.footer{
    background-color: #D1C4E9;
    margin:0px auto;
    padding: 20px 0px 20px 0px;
}


.navbar-dark {
    background-color: #3FADA8;
}
.page-enter{
    opacity: 0.01;
    transform: rotate(90);
}
.page-enter-active{
    opacity: 1;
    transform: translateX(0%);
    transition: all 300ms ease-in;
}
.page-exit {
    opacity: 1;
    transform: rotate(90);
}

.page-exit-active {
    opacity: 0.01;
    transform: translateX(100%);
    transition: all 300ms ease-out;
}